version: "3.9"

services:
  backend:
    image: clojure:lein
    ports:
      - "127.0.0.1:7000:7000"
      - "3000:3000"
    volumes:
      - ./:/tmp
      - ~/.m2:/root/.m2
      - ~/.lein:/root/.lein
    command: lein run

  frontend:
    image: theasp/clojurescript-nodejs:latest
    ports:
      - "127.0.0.1:7002:7002"
      - "9630:9630"
    volumes:
      - ./:/tmp
      - ~/.m2:/root/.m2
      - ~/.lein:/root/.lein
    command: npx shadow-cljs watch app

  postgres:
    image: postgres:latest
    environment:
      - POSTGRES_USER=drosera
      - POSTGRES_PASSWORD=testpw
    ports:
      - 5342:5342
