name: Clojure CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Check out code
      uses: actions/checkout@v2

    - name: Start docker containers
      run: docker-compose up -d

    - name: Run tests
      run: docker-compose exec -T web -- lein migrate && lein test
